@model MVC_Data.Models.ViewModels.EmployeeVM
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .error {
        color: red;
    }
</style>

<div class="container" style="width:60%">

    @using (Html.BeginForm("Index", "Department", FormMethod.Post))
    {
        //  @Html.HiddenFor(model=>model.DepartmentName)
        @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentList as SelectList, "--Select List--", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "error" })


        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "error" })



        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "error" })

        @Html.TextBoxFor(model => model.SiteName, new { @class = "form-control", @placeholder = "Site Name" })


        <input type="submit" value="Submit" class="btn btn-block btn-primary" />
    }
</div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
